---
import { Image } from "astro:assets";
import vanslogo from "../assets/vanslogo.png";
import vansbase from "../assets/vans-base.png";
import aleksandro1 from "../assets/aleksandro-blanco-rojo.jpeg";
import aleksandro2 from "../assets/aleksandro-rojo-amarillo-verde.jpeg";
import angela1 from "../assets/angela-celeste-rosa-negro.jpeg";
import angela2 from "../assets/angela-verde-blanco.jpeg";
import erick1 from "../assets/erick-celeste-amarillo.jpeg";
import erick2 from "../assets/erick-rojo-negro.jpeg";
import khalid1 from "../assets/khalid-rojo.jpeg";
import khalid2 from "../assets/khalid-verde.jpeg";
import yeramin1 from "../assets/yeramin-celeste-negro.jpeg";
import yeramin2 from "../assets/yeramin-verde-amarillo.jpeg";
import breakaway from "../assets/breakaway.png";
import "./../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/vans-favicon.webp" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Vans BREAKAWAY</title>
  </head>
  <body class="bg-gray-100 overflow-x-hidden">
    <div class="flex justify-center mt-5 ml-2">
      <Image src={vanslogo} alt="" loading="eager" class="w-xl md:w-2xl" />
      <div
        class="flex justify-center bg-[#241f21] mt-[1px] ml-[-73%] sm:ml-[-450px] md:ml-[-510px] w-full h-[5%] sm:h-[46px] align-middle"
      >
        <Image
          src={breakaway}
          alt=""
          loading="eager"
          class="self-center w-auto h-[80%]"
        />
      </div>
    </div>
    <div
      class="flex flex-wrap justify-center m-5 mt-10 md:mt-0 overflow-x-hidden align-middle"
    >
      <Image
        src={vansbase}
        id="vansbase"
        loading="eager"
        alt="Vans base"
        class="w-[500px] h-auto object-contain tabas"
      />
      <Image
        src={aleksandro1}
        id="aleksandro1"
        alt="Vans base"
        class="hidden w-[500px] h-auto object-contain tabas"
      />
      <Image
        src={aleksandro2}
        id="aleksandro2"
        alt="Vans base"
        class="hidden w-[500px] h-auto object-contain tabas"
      />
      <Image
        src={angela1}
        id="angela1"
        alt="Vans base"
        class="hidden w-[500px] h-auto object-contain tabas"
      />
      <Image
        src={angela2}
        id="angela2"
        alt="Vans base"
        class="hidden w-[500px] h-auto object-contain tabas"
      />
      <Image
        src={erick1}
        id="erick1"
        alt="Vans base"
        class="hidden w-[500px] h-auto object-contain tabas"
      />
      <Image
        src={erick2}
        id="erick2"
        alt="Vans base"
        class="hidden w-[500px] h-auto object-contain tabas"
      />
      <Image
        src={khalid1}
        id="khalid1"
        alt="Vans base"
        class="hidden w-[500px] h-auto object-contain tabas"
      />
      <Image
        src={khalid2}
        id="khalid2"
        alt="Vans base"
        class="hidden w-[500px] h-auto object-contain tabas"
      />
      <Image
        src={yeramin1}
        id="yeramin1"
        alt="Vans base"
        class="hidden w-[500px] h-auto object-contain tabas"
      />
      <Image
        src={yeramin2}
        id="yeramin2"
        alt="Vans base"
        class="hidden w-[500px] h-auto object-contain tabas"
      />
      <form id="formzapatillas" class="mt-10 md:ml-10">
        <h2 class="font-semibold text-2xl">Color 1:</h2>
        <div>
          <select
            name="color1"
            class="bg-gray-200 shadow-sm mt-2 mb-7 px-5 rounded-lg outline-none w-fit h-[40px]"
          >
            <option value="" hidden>selecciona un color</option>
            <option value="negro">Negro</option>
            <option value="rojo">Rojo</option>
            <option value="blanco">Blanco</option>
            <option value="rosa">Rosa</option>
            <option value="verde">Verde</option>
            <option value="celeste">Celeste</option>
            <option value="amarillo">Amarillo</option>
            <option value="naranja">Naranja</option>
            <option value="ninguno">Ninguno</option>
          </select>
        </div>
        <h2 class="font-semibold text-2xl">Color 2:</h2>
        <div>
          <select
            name="color2"
            class="bg-gray-200 shadow-sm mt-2 mb-7 px-5 rounded-lg outline-none w-fit h-[40px]"
          >
            <option value="" hidden>selecciona un color</option>
            <option value="negro">Negro</option>
            <option value="rojo">Rojo</option>
            <option value="blanco">Blanco</option>
            <option value="rosa">Rosa</option>
            <option value="verde">Verde</option>
            <option value="celeste">Celeste</option>
            <option value="amarillo">Amarillo</option>
            <option value="naranja">Naranja</option>
            <option value="ninguno">Ninguno</option>
          </select>
        </div>
        <h2 class="font-semibold text-2xl">Color 3:</h2>
        <div>
          <select
            name="color3"
            class="bg-gray-200 shadow-sm mt-2 mb-7 px-5 rounded-lg outline-none w-fit h-[40px]"
          >
            <option value="" hidden>selecciona un color</option>
            <option value="negro">Negro</option>
            <option value="rojo">Rojo</option>
            <option value="blanco">Blanco</option>
            <option value="rosa">Rosa</option>
            <option value="verde">Verde</option>
            <option value="celeste">Celeste</option>
            <option value="amarillo">Amarillo</option>
            <option value="naranja">Naranja</option>
            <option value="ninguno">Ninguno</option>
          </select>
        </div>
        <div class="flex flex-col">
          <label class="font-semibold text-2xl" for="texto">Texto:</label>
          <textarea
            id="texto"
            name="textoDiseño"
            class="bg-gray-200 shadow-sm mt-2 mb-7 px-5 py-2 rounded-lg outline-none w-fit h-[125px]"
            placeholder='Ingresa el texto que quieres ponerle a tu zapatilla. por ejemplo: "Erick"'
          ></textarea>
        </div>
        <label
          for="submitbutton"
          class="flex flex-nowrap justify-center bg-[#241f21] py-4 rounded-xl w-full font-bold text-white text-xl text-center align-middle cursor-pointer"
        >
          <input type="submit" id="submitbutton" value="¡Personalizar!" />
          <svg
            id="loadingForm"
            class="hidden mt-1 mr-3 -ml-1 size-5 text-white animate-spin"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            ><circle
              class="opacity-25"
              cx="12"
              cy="12"
              r="10"
              stroke="currentColor"
              stroke-width="4"></circle><path
              class="opacity-75"
              fill="currentColor"
              d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
            ></path></svg
          >
        </label>
      </form>
    </div>
    <script>
      const base = document.querySelectorAll(".tabas");
      (document.querySelector("form") as HTMLFormElement).addEventListener(
        "submit",
        (e) => {
          e.preventDefault();
          let data = Object.fromEntries(
            new FormData(e.target as HTMLFormElement)
          );
          const hiddenImages = () => {
            base.forEach((element) => {
              if (!element.classList.contains("hidden")) {
                element.classList.add("hidden");
              }
            });
          };
          console.log(
            "%csrc/pages/index.astro:210 data",
            "color: #007acc;",
            data
          );
          switch (data.textoDiseño) {
            case "erick":
              hiddenImages();
              document.getElementById("erick1")?.classList.remove("hidden");
              break;
            case "erick ":
              hiddenImages();
              document.getElementById("erick2")?.classList.remove("hidden");
              break;
            case "khalid":
              hiddenImages();
              document.getElementById("khalid1")?.classList.remove("hidden");
              break;
            case "khalid ":
              hiddenImages();
              document.getElementById("khalid2")?.classList.remove("hidden");
              break;
            case "angela":
              hiddenImages();
              document.getElementById("angela1")?.classList.remove("hidden");
              break;
            case "angela ":
              hiddenImages();
              document.getElementById("angela2")?.classList.remove("hidden");
              break;
            case "yeramin":
              hiddenImages();
              document.getElementById("yeramin1")?.classList.remove("hidden");
              break;
            case "yeramin ":
              hiddenImages();
              document.getElementById("yeramin2")?.classList.remove("hidden");
              break;
            default:
              break;
          }
        }
      );
      const colorSelects = document.querySelectorAll("select");
    </script>
  </body>
</html>
